{% extends "base-login.html.twig" %}

{% block content %}	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('build/test-theme/images/application-login-page/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					{{ applicationTitle }}
				</span>

				{% if error %}
            		<div class="login100-form-error p-2 m-b-10">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            	{% endif %}
				<form class="login100-form validate-form p-b-33 p-t-5" method="post">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token( 'authenticate' ) }}" />
					
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="_username" placeholder="User name" value="{{ last_username }}">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="_password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Login
						</button>
                    </div>
                    <div class="container-login100-form-btn m-t-16">
                        <a class="login100-form-btn mr-2" href="{{ path( 'vs_users_register_form' ) }}">
                            Register
                        </a>
                        <a class="login100-form-btn" href="{{ path( 'vs_users_forgot_password_form' ) }}">
                            Forgot Password
                        </a>
                    </div>
				</form>
			</div>
		</div>
	</div>
	
	<div id="dropDownSelect1"></div>
{% endblock %}
